<a href="https://colab.research.google.com/github/Saksham1606/Python-Journey/blob/main/DAY2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Diff ways to use print and Diff Parameters

In [ ]:
print ("Hello World")

Hello World

In [ ]:
name = "Saksham"
age = 18
print(name)
print (age)

Saksham
18

In [ ]:
name = "Saksham"
age = 18
print('Name :',name,",", 'Age :',age)

Name : Saksham , Age : 18

In [ ]:
# using f string
name = 'Saksham'
age = 18
print(f"Name : {name} , Age : {age}")

Name : Saksham , Age : 18

In [ ]:
# using format() method
name = 'Saksham'
age = 18
print("Name : {}, Age : {}".format(name,age))

Name : Saksham, Age : 18

In [ ]:
# printing formatted numbers OR round-off float
num = 1234.56789
print(f"Formated number : {num:.2f}")

Formated number : 1234.57

In [ ]:
# using string concatenation
name = "Saksham"
print("Hello, "+ name + "!")

Hello, Saksham!

In [ ]:
# using sep parameter
print("NIET","GreaterNoida","UttarPradesh","INDIA",sep="--")

NIET--GreaterNoida--UttarPradesh--INDIA

In [ ]:
# using end parameter
print("Hello", end="-")
print("World")

Hello-World

In [ ]:
# new line parameter (\n)
print("Line1\nLine2")

Line1
Line2

In [ ]:
# space parameter (\t)
print("Saksham\tRAJPUT")

Saksham	RAJPUT

# IDENTIFIERS

->variables are called Identifiers.

  points to rememer:
  1. cannot begin with integer(1,5,56).
  2. cannot introduce special characters(!,@,#,%).
  3. cannot use reserved keywords.
  4. cannot introduce hyphen(-), dot(.), brackets, +, -, *, /.

# DATA TYPES

1. numeric : int, float, complex.
2. text : string .
3. Boolean : bool.
4. Sequence : list, tuple, range.
5. Mapping : dict.
6. Set Types : set, frozenset.
7. none type : nonetype.

In [ ]:
# numeric datatypes
a= 15
b= 15.268
c= 2+4j

print("The datatype of a",type(a))
print("The datatype of b",type(b))
print("The datatype of c",type(c))

#text datatype
x = "bsdjhcsjh"
print("The datatype of x",type(x))

# boolean datatype
answer = True
print("The datatype of answer",type(answer))

# sequence datatype
my_list = [1,23,453,34]
print("The datatype of my_list is",type(my_list))
my_tuple= (121,2323,2323,31,464)
print("The datatype of my_tuple is",type(my_tuple))
my_range = range(11)
print("The datatype of my_range is",type(my_range))

# mapping datatype
my_dict = {"Name ":"Saksham Rajput",
           "Age ": 18,
           "College ": "NIET"}
print("The datatype of my_dict is",type(my_dict))

# set datatypes
my_set = {1,2,3,4,5}
print("The datatype of my_set is",type(my_set))
my_frozenset = frozenset([1,2,3,4,5])
print("The datatype of my_frozenset is",type(my_frozenset))

# none datatype
nothing = None
print("The datatype of nothing is",type(nothing))

The datatype of a <class 'int'>
The datatype of b <class 'float'>
The datatype of c <class 'complex'>
The datatype of x <class 'str'>
The datatype of answer <class 'bool'>
The datatype of my_list is <class 'list'>
The datatype of my_tuple is <class 'tuple'>
The datatype of my_range is <class 'range'>
The datatype of my_dict is <class 'dict'>
The datatype of my_set is <class 'set'>
The datatype of my_frozenset is <class 'frozenset'>
The datatype of nothing is <class 'NoneType'>

# Datatype Conversion

there are 2 types of conversion:
1. Implicit Conversion (Automatic).
2. Explicit conversion (Manually).

In [ ]:
# Implicit conversion
a= 5    #int
b= 15.2 #float
sum = a+b   # int + float = float
print(type(sum))  #it results in float

#Explicit conversion
x= "15"      #string
y = int(x)   #int
print(type(y))   #it results in integer.

<class 'float'>
<class 'float'>

# OPERATORS

types of operator:
1. Arithmetic operator.
2. Relational (Comparison) operator.
3. Assignment operator.
4. Logical operator.
5. Bitwise operator.
6. Membership operator.
7. Identity operator.

In [ ]:
# ARITHMETIC OPERATOR

a = 10
b = 5

#Addition
print (a+b)
print("The datatype  of addition is", type(a+b))

#Substraction
print (a-b)
print("The datatype  of substraction is", type(a-b))

#Multiplication
print(a*b)
print("The datatype  of multiplication is", type(a*b))

#Division
print(a/b)
print("The datatype  of division is", type(a/b))  #float
print(a//b)
print("The datatype  of division is", type(a//b))  #int

#Remainder
print (a%b)
print("The datatype  of remainder is", type(a%b))

#Power
print (a**b)
print("The datatype  of power is", type(a**b))

15
The datatype  of addition is <class 'int'>
5
The datatype  of substraction is <class 'int'>
50
The datatype  of multiplication is <class 'int'>
2.0
The datatype  of division is <class 'float'>
2
The datatype  of division is <class 'int'>
0
The datatype  of remainder is <class 'int'>
100000
The datatype  of power is <class 'int'>

In [ ]:
# RELATIONAL OPERATOR

x = 5
y = 2

# less than
print(x<y)   #5<2 -- false

# greater than
print(x>y)   #5>2 -- true

# less than or equal to
print(x<=y)  #5<=2  -- false

# greater than or equal to
print(x>=y)  #5>=2  -- true

# equal to
print (x==y)   #5=2  -- false

# not equal to
print(x!=y)   #5!=2  -- true

False
True
False
True
False
True

In [ ]:
# LOGICAL OPERATOR --> and,or,not

a= True
b= False

print(a and b)   #False
print(a or b)    #True
print(not a)     #False
print(not b)     #True

False
True
False
True

In [ ]:
# ASSIGNMENT OPERATOR   -->  =, +=, -=, *=, /=, %=, **=, //=.

'''
= --> assigning value
+= -->  a+=b <==> a=a+b
-= -->  a-=b <==> a=a-b
*= -->  a*=b <==> a=a*b
/= -->  a/=b <==> a=a/b
%= -->  a%=b <==> a=a%b
**= --> a**=b <==> a=a**b
--= --> a//=b <==> a=a//b
                          '''

a=10

print("The value of a is:",a)              #a=10

a+=5
print("The value of a+=5 is:",a)           #a=10+5=15

a-=5
print("The value of a-=5 is:",a)          #a=15-5=10

a*=5
print ("The value of a*=5 is:",a)         #a=10*5=50

a/=5
print ("The value of a/=5 is:",a)         #a=50/5=10.0

a//=5
print ("The value of a//=5 is:",a)        #a=10.0//5=2

a%=5
print ("The value of a%=5 is:",a)         #a=2%5=2

a**=5
print ("The value of a**=5 is:",a)        #a=0**5=32

The value of a is: 10
The value of a+=5 is: 15
The value of a-=5 is: 10
The value of a*=5 is: 50
The value of a/=5 is: 10.0
The value of a//=5 is: 2.0
The value of a%=5 is: 2.0
The value of a**=5 is: 32.0

In [ ]:
# MEMBERSHIP OPERATOR   --> in, not in.

list1 = [1,2,3,4,7]

print (2 in list1)
print (5 in list1)

print (2 not in list1)
print (5 not in list1)

print("\n")

dict1 = {
    "Name" : "Saksham",
    "Age" : 19
}
print("Saksham" in dict1)
print("Name" in dict1)
print("Age" not in dict1)

True
False
False
True


False
True
False

In [ ]:
# IDENTITY OPERATOR   --> is, is not

a = 5
b = 5

print(a is b)
print (a is not b)

set1 = {1,5,9}
set2 = {0,2,4,1}

print(set1 is set2)
print(set1 is not set2)

list1 = [1,2]
list2 = list1
print(list1 is list2)

True
False
False
True
True

In [ ]:
# SPECIAL OPERATOR

a=10
b=20

print("a is greater" if a>b else "b is greater")

b is greater

In [ ]:
# BITWISE OPERATOR

x = 5  #5 --> 0101
y = 3  #3 --> 0011

print(x&y)  # x X y => 0001 --> 1
print(x|y)  # x + y => 0111 --> 7
print(~x)   # x' => 1010 -->
print(x^y)  # x xor y => 0110 --> 6
print(x<<2) # x<<2 = 0101<<2 = 01 -->
print(x>>2) # x>>2 =

1
7
-6
6
20
1
512

In [ ]:
# OPERATOR PRECEDENCE AND ASSOCIATIVITY

a = 3+2*2**2
print (a)

b = (3+2)*2**2
print (b)

c = 10+5-2
print (c)

d = 2**3**2
print (d)

11
20
13
512