<a href="https://colab.research.google.com/github/Saksham1606/Python-Journey/blob/main/DAY3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXPRESSIONS IN PYTHON

In [ ]:
print(2+3)
print (5-8)
print (2*8)
print( 10/2)
print(10//2)
print(10**2)
print(10%3)

print("\n")
a=10
b=9
print(a==b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a!=b)

print("\n")
x = True
y = False
print(x and y)
print(x or y)
print( not x)

5
-3
16
5.0
5
100
1


False
False
True
False
True
True


False
True
False

# STRINGS

In [ ]:
str1 = 'hello'
str2 = "hello"
str3 = '''hello'''
str4 = """hello"""

print(str1)
print(str2)
print(str3)
print(str4)

#INDEX

name = "Saksham Rajput"

print(name[0])
print(name[1])
print(name[-1])
print(name[-2])

print("\n")
#string slicing

print(name[0:3])
print(name[8:11])
print(name[:5])
print(name[5:])
print("\n")
print(name[3:14:2])
print(name[ : : 2])

print("\n")
# string formating
first = "Saksham"
last = "RAJPUT"
print("My firstname is {} and lastname is {}".format(first,last))

print("\n")
#concatenation
print(first+" "+last)
print(first+"_"+last)
print((last+" ")* 5)

print("RAJ" in last)
print("RAJ" in first)
print("RAJ" not in first)

last = last.lower()                           #lower function
print(last)
last = last.upper()                           #upper function
print(last)
name1 = name.strip()                          #strip function
print(name1)
name2 = name.split()                          #split function
print(name2)
print(name.find("k"))                         #find function
print(name.replace("Saksham" , "Rohan"))      #replace function
print(name.startswith("Saksham"))             #startswith function
print(name.endswith("RAJPUT"))                #endswith function

hello
hello
hello
hello
S
a
t
u


Sak
Raj
Saksh
am Rajput


sa apt
SkhmRju


My firstname is Saksham and lastname is RAJPUT


Saksham RAJPUT
Saksham_RAJPUT
RAJPUT RAJPUT RAJPUT RAJPUT RAJPUT
True
False
True
rajput
RAJPUT
Saksham Rajput
['Saksham', 'Rajput']
2
Rohan Rajput
True
False

# LIST

In [ ]:
list1 =[124, 'gulabi', 3.145, True]  # heterogenous behaviour
print(list1)
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])

list1[1] = 'laal'             # mutable behaviour
print(list1)
print(list1[1])

list2=['laal', 216, 3.14, 'laal', True]   #duplicates allowed
print(list2)

# Operations in list
list1.append('chamcha')      #append function --> add a new element at the end of list
print(list1)
list1.remove('laal')         #remove function --> remove any element you want
print(list1)

[124, 'gulabi', 3.145, True]
124
gulabi
3.145
True
[124, 'laal', 3.145, True]
laal
['laal', 216, 3.14, 'laal', True]
[124, 'laal', 3.145, True, 'chamcha']
[124, 3.145, True, 'chamcha']