<a href="https://colab.research.google.com/github/Saksham1606/Python-Journey/blob/main/DAY5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS

1. WHILE LOOPS

In [ ]:
# FORMATE OF WHILE LOOP

# {assignment}
# while {condition}:
#   {code}
#   {implementation}

# EXAMPLE:-
n=1
while n<=10:
  print(n)
  n+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = 1
while n<=10:
  print(n,end="\t")
  n+=1

1	2	3	4	5	6	7	8	9	10

In [ ]:
n = 1
while n <= 5:
  print("Hello", end="\t")
  n+=1

Hello	Hello	Hello	Hello	Hello

In [ ]:
n=0
while n<5:
  print("Hello")
  n+=1

Hello
Hello
Hello
Hello
Hello

In [ ]:
n= 10
while n>0:
  print(n)
  n-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
n =1
while n<=10:
  print("2 X",n,"=",n*2)
  n+=1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
n = int(input("Enter any number: "))
m =1
while m<=10:
  print(f"{n} X {m} = {n*m}")
  m+=1

Enter any number: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
%cd Test2

/content/Test2

In [ ]:
n =1
sum =0
while n<=10:
  sum+=n
  n+=1
print("The sum of numbers 1 to 10:", sum)

The sum of numbers 1 to 10: 55

In [ ]:
# BREAK STATEMENT
n =1
while 1<=5:
  if n == 3:
    break
  print(n)
  n+=1

1
2

In [ ]:
n =1
while n<=10:
  if n==7:
    print(n)
    break
  print(n)
  n+=1

1
2
3
4
5
6
7

In [ ]:
# ELSE STATEMENT
n = 1
while n<=10:
  print(n)
  n+=1
else :
  print("Complete")

1
2
3
4
5
6
7
8
9
10
Complete

In [ ]:
n = 1
while n<=10:
  if n==4:
    print(n)
    break
  print(n)
  n+=1
else:
  print("Complete")

1
2
3
4

2. **FOR** **LOOPS**

In [ ]:
for n in range(0,5):
  print(n)

0
1
2
3
4

In [ ]:
for n in range(1,7):
  print(n)

1
2
3
4
5
6

In [ ]:
for n in range(5,0,-1):
  print(n)

5
4
3
2
1

In [ ]:
for n in range(0,10):
  print("Saksham", end="\t")

Saksham	Saksham	Saksham	Saksham	Saksham	Saksham	Saksham	Saksham	Saksham	Saksham

In [ ]:
for n in range(1,11):
  print("2 X",n,"=", n*2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
n = int(input("Enter any number: "))
for i in range(1,11):
  print(n*i)

Enter any number: 11
11
22
33
44
55
66
77
88
99
110

In [2]:
list = [25, 30.03, 'ram', True]
a = len(list)
for a in range(0,a):
  print(list[a])

25
30.03
ram
True

In [1]:
list1 = [25,30.3,'Ram',True]
n=0
while n<len(list1):
  print(list1[n])
  n+=1

25
30.3
Ram
True

In [3]:
tuple1 = (1, 1.2, "Raja", True)
for n in range(0,len(tuple1)):
  print(tuple1[n])

1
1.2
Raja
True

In [4]:
tuple1 = (1, 1.2, "Raja", True)
n=0
while n<len(tuple1):
  print(tuple1[n])
  n+=1

1
1.2
Raja
True

In [5]:
for n in range (0,5):
  print(n)
else :
  print("Complete")

0
1
2
3
4
Complete

In [6]:
for n in range(7):
  if n ==5:
    continue
  print(n)

0
1
2
3
4
6

In [7]:
n=0
while n<=7:
  if n ==3 :
    n+=1
    continue
  print(n)
  n+=1
else :
  print("Complete")

0
1
2
4
5
6
7
Complete